.node-popup {
    position: absolute;
    z-index: 999;
    width: 250px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

.node-popup-header {
    font-size: 1em;
    color: #2185d0;
    margin-bottom: 5px;
}

.node-popup-description {
    font-size: 0.9em;
    font-weight: normal;
    color: #333;
    max-height: 150px;
    overflow-y: auto;
}